<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @picture.title %>
</p>

<p>
  <b>Pict file:</b>
  <%= image_tag @picture.pict_file_url %>
<%#= image_tag(@picture.pict_file_url(:ipad2), :width => 1024, :height => 768) %>
  

</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
